{% extends "JMSJobQueueBundle::base.html.twig" %}
{% import "JMSJobQueueBundle:Job:macros.html.twig" as macros %}

{% block title %}Overview - {{ parent() }}{% endblock %}

{% block content %}

<h1><div class="page-header">
        <td>Overview</td>
    </div></h1>

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{ path("jms_jobs_overview") }}">Reset Filters</a>
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        State
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for state in states %}
                            <li><a href="{{ path("jms_jobs_overview", {"delay" : app.request.get('delay'), "state": state, "queue" : app.request.get('queue'), "page" : 1 }) }}">{{ state }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Queue
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for queue in queues %}
                            <li><a href="{{ path("jms_jobs_overview", {"delay" : app.request.get('delay'), "state": app.request.get('state'), "queue" : queue , "page" : 1 }) }}">{{ queue }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form method="get" action="{{ path("jms_jobs_overview", {"state": app.request.get('state'), "queue" : app.request.get('queue') , "page" : 1 }) }}">
                <input type="text"  name="delay" placeholder="Min Delay. Ex: 10 seconds, 5 minutes" value="{{ app.request.get('delay')}}">
            </form>
        </div>
    </div>
    <div class="pagination">
        <ul>
            {% if page == 1 %}
                <li class="prev disabled"><span>← Previous</span></li>
                <li class="active"><span>1</span></li>
            {% else %}
                <li class="prev"><a href="{{ path("jms_jobs_overview", {"delay" : app.request.get('delay'), "state": app.request.get('state'), "queue" : app.request.get('queue') , "page" : page - 1 }) }}">← Previous</a></li>
                <li><a href="{{ path("jms_jobs_overview", {"delay" : app.request.get('delay'), "state": app.request.get('state'), "queue" : app.request.get('queue') , "page" : 1 }) }}">1</a></li>
                {% if page > 5 %}
                    <li class="disabled"><span>...</span></li>
                {% endif %}
            {% endif %}
            {% for i in max((page - 3), 2)..(page + 3) %}
                {% if page != i %}
                    <li><a href="{{ path("jms_jobs_overview", {"delay" : app.request.get('delay'), "state": app.request.get('state'), "queue" : app.request.get('queue') , "page" : i }) }}">{{ i }}</a></li>
                {% else %}
                    <li class="active"><span>{{ i }}</span></li>
                {% endif %}
            {% endfor %}
            <li class="next"><a href="{{ path("jms_jobs_overview", {"delay" : app.request.get('delay'), "state": app.request.get('state'), "queue" : app.request.get('queue') , "page" : page + 1 }) }}">Next →</a></li>
        </ul>
    </div>

<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Command</th>
            <th>State</th>
            <th>Created At</th>
            <th>Started At</th>
            <th>Run Delay</th>
            <th>Runtime</th>
            <th>Queue</th>
            <th>Last Gracefully Shutdown At</th>
        </tr>
    </thead>

    <tbody>
        {% for job in jobPager %}
        <tr>
            <td><a href="{{ path("jms_jobs_details", {"id": job.id}) }}">{{ job.id }}</a></td>
            <td><a href="{{ path("jms_jobs_details", {"id": job.id}) }}">{{ macros.command(job) }}</a></td>
            <td><a href="{{ path("jms_jobs_overview", {"state": job.state, "queue" : app.request.get('queue'), "page" : 1 }) }}">{{ macros.state(job) }}</a></td>
            <td>{{ macros.ago(job.createdAt) }}</td>
            <td>{{ job.startedAt ? macros.ago(job.startedAt) : '' }}</td>
            <td>{{ job.startedAt ? date_diff(job.executeAfter, job.startedAt) : '' }}</td>
            <td>{{ macros.runtime(job) }}</td>
            <td><a href="{{ path("jms_jobs_overview", {"state": app.request.get('state'), "queue" : job.queueName, "page" : 1 }) }}">{{ job.queueName }}</a></td>
            <td>{{ job.lastGracefullyShutdownAt ? macros.ago(job.lastGracefullyShutdownAt) : ''}}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">There are no jobs.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}